[submodule "base16-Xresources"]
	path = xres/base16-xresources
	url = https://github.com/chriskempson/base16-xresources 

[submodule "crayolo"]
	path = xres/colors/crayolo
	url = https://github.com/dkeg/crayolo 

[submodule "base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim

[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/papercolor-theme"]
	path = vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/bundle/vim-cpp-enhanced-highlight"]
	path = vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/bundle/vim-wombat-scheme"]
	path = vim/bundle/vim-wombat-scheme
	url = https://github.com/sheerun/vim-wombat-scheme
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
