! xft {{{

Xft.antialias:      true
Xft.autohint:       false
Xft.dpi:            96
Xft.hinting:        true
Xft.hintstyle:      hintfull
Xft.rgba:           rgb

! }}}
! font {{{

#define cjb_font     Misc Tamsyn 
#define cjb_fontsize 14

! }}}
! colors {{{

#include </home/jean/.colors/xres/crayolo/colors/bulb>

! override
#define bg #1a1a1a
#define bblu  #67839f
#define bcyn  #578f88


/* ! apply theme {{{ */
/* *background:   bg */
/* *foreground:   fg */

/* *color0:      blk */
/* *color8:      bblk */
/* *color1:      red */
/* *color9:      bred */
/* *color2:      grn */
/* *color10:     bgrn */
/* *color3:      ylw */
/* *color11:     bylw */
/* *color4:      blu */
/* *color12:     bblu */
/* *color5:      mag */
/* *color13:     bmag */
/* *color6:      cyn */
/* *color14:     bcyn */
/* *color7:      wht */
/* *color15:     bwht */

/* ! }}} */

/* ! vacuous2 {{{ */

/* ! special */
/* *.foreground:   #d2c5bc */
/* *.background:   #101010 */
/* *.cursorColor:  #d2c5bc */

/* ! black */
/* *.color0:       #202020 */
/* *.color8:       #606060 */

/* ! red */
/* *.color1:       #b91e2e */
/* *.color9:       #d14548 */

/* ! green */
/* *.color2:       #81957c */
/* *.color10:      #a7b79a */

/* ! yellow */
/* *.color3:       #f9bb80 */
/* *.color11:      #fae3a0 */

/* ! blue */
/* *.color4:       #356579 */
/* *.color12:      #7491a1 */

/* ! magenta */
/* *.color5:       #2d2031 */
/* *.color13:      #87314e */

/* ! cyan */
/* *.color6:       #0b3452 */
/* *.color14:      #0f829d */

/* ! white */
/* *.color7:       #909090 */
/* *.color15:      #fff0f0 */

/* ! }}} */
/* ! Oblivion {{{ */

/* ! Black */
/* *color0:  #2E3436 */
/* *color8:  #555753 */
/* ! Red */
/* *color1:  #CC0000 */
/* *color9:  #EF2929 */
/* ! Green */
/* *color2:  #4E9A06 */
/* *color10: #8AE234 */
/* ! Yellow */
/* *color3:  #C4A000 */
/* *color11: #FCE94F */
/* ! Blue */
/* *color4:  #3465A4 */
/* *color12: #729FCF */
/* ! Purple */
/* *color5:  #75507B */
/* *color13: #AD7FA8 */
/* ! Cyan */
/* *color6:  #06989A */
/* *color14: #34E2E2 */
/* ! White */
/* *color7:  #D3D7CF */
/* *color15: #EEEEEC */


/* ! }}} */
! Base16 Default Dark {{{
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

! }}}
/* ! Base16 Tomorrow {{{ */
/* ! Scheme: Chris Kempson (http://chriskempson.com) */

/* #define base00 #ffffff */
/* #define base01 #e0e0e0 */
/* #define base02 #d6d6d6 */
/* #define base03 #8e908c */
/* #define base04 #969896 */
/* #define base05 #4d4d4c */
/* #define base06 #282a2e */
/* #define base07 #1d1f21 */
/* #define base08 #c82829 */
/* #define base09 #f5871f */
/* #define base0A #eab700 */
/* #define base0B #718c00 */
/* #define base0C #3e999f */
/* #define base0D #4271ae */
/* #define base0E #8959a8 */
/* #define base0F #a3685a */

/* ! }}} */
/* ! Base16 Tomorrow Night {{{ */
/* ! Scheme: Chris Kempson (http://chriskempson.com) */

/* #define base00 #1d1f21 */
/* #define base01 #282a2e */
/* #define base02 #373b41 */
/* #define base03 #969896 */
/* #define base04 #b4b7b4 */
/* #define base05 #c5c8c6 */
/* #define base06 #e0e0e0 */
/* #define base07 #ffffff */
/* #define base08 #cc6666 */
/* #define base09 #de935f */
/* #define base0A #f0c674 */
/* #define base0B #b5bd68 */
/* #define base0C #8abeb7 */
/* #define base0D #81a2be */
/* #define base0E #b294bb */
/* #define base0F #a3685a */

/* ! }}} */
! Base 16 apply {{{
*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base01
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21: base06
! }}}

! }}}
! Rofi {{{

rofi.color-enabled: true
rofi.color-window: bg, bg, #1e2529
rofi.color-normal: bg, fg, bg, blk, #ffffff

! }}}
! xst settings {{{

st.bold_font: 1
st.borderpx: 15
st.font: cjb_font:medium:pixelsize=cjb_fontsize

! }}}
! urxvt settings {{{

!Font
URxvt*font: xft:cjb_font:medium:pixelsize=cjb_fontsize
URxvt*boldFont: xft:cjb_font:bold:pixelsize=cjb_fontsize
URxvt*italicFont: xft:cjb_font:italic:pixelsize=cjb_fontsize
URxvt*boldItalicFont: xft:cjb_font:bold:italic:pixelsize=cjb_fontsize
!URxvt.font :	-benis-uushi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!URxvt.boldFont :	

! savelines
URxvt.savelines:	65534 

! scrolling
URxvt.scrollBar:         false
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true

!internal Border
urxvt.internalBorder: 10

! Perl stuff
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.iso14755: False
URxvt*keysym.Mod4-c: perl:clipboard:copy
URxvt*keysym.Mod4-v: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last

!}}}
! vi:syntax=xdefaults:fdm=marker:fdl=0
