#aliases

# programs
alias vi=nvim
alias ra=ranger-cd

# python
alias py=python
alias py2=python2

# activate ml virtualenv
alias ml='source $ML_ENV/bin/activate'

# arch
alias pacu="sudo pacman -Syu"
alias paci="sudo pacman -S" 

# ls
alias ls='ls --color=auto'
alias ll='ls -l'
alias lla='ls -la'

# git
alias g='git'
alias gs='git status'
alias gd='git diff'
alias ga='git add'
alias gaa='git add --all'
alias gc='git commit'
alias gp='git push'
alias glog='git log --decorate --graph --oneline'

# docker
alias dfuck='docker rm -f $(docker ps -a -q)'
alias dfucki='docker rmi -f $(docker images -q)'
alias dfuckall='dfuck && dfucki'

# cd
alias -- -='cd -'
alias ..='cd ..'
alias ...='cd ../..'

# configs
alias vconf="nvim ~/.config/nvim/init.vim"
alias aconf="nvim ~/.config/awesome/rc.lua"
alias zconf="nvim ~/.zshrc"

# fasd
# alias v='fasd -f -e $EDITOR'
# alias vv='fasd -f -i -e $EDITOR'

# misc
alias sleeep="echo systemctl suspend | at now +"
alias q=exit
alias xres="xrdb merge ~/.Xresources"
alias tekshot="screenfetch -o 'upload=1;uploadLoc=teknik;screenshot=1'"

# latex
alias lamk='latexmk -pvc -pdf -view=none'
