snippet mb "mathbb" w
\mathbb{$1}$0
endsnippet

snippet subs "subset" w
\subset $0
endsnippet

snippet bcap "bidcap" w
\bigcap $0
endsnippet

snippet bcup "bidcup" w
\bigup $0
endsnippet

snippet Lr "Leftrightarrow" w
\Leftrightarrow $0
endsnippet

