snippet mbb "mathbb" w
\mathbb{$1}$0
endsnippet

snippet mcal "mathcal" w
\mathcal{$1}$0
endsnippet

snippet subs "subset" w
\subset $0
endsnippet

snippet bcap "bigcap" w
\bigcap $0
endsnippet

snippet bcup "bigcup" w
\bigcup $0
endsnippet

snippet scal "scalar product" w
\langle $1\,, $2 \rangle $0
endsnippet

snippet Lr "Leftrightarrow" w
\Leftrightarrow $0
endsnippet

